.main {
    display: flex;
    flex-direction: column !important;
    margin: 10% 20% !important;
}
.left {
    display: flex;
}
.upload {
    border: 1px solid rgb(165, 160, 160) !important;
    border-radius: 8px !important;
    padding: 5% 20% !important;
    margin: 10% 15% !important;
}
