/* body {
    overflow: hidden;
} */
.custom {
    display: flex;
    margin: 15% 10%;
    background-color: white;
    padding: 5% 15%;
    border-radius: 8px;
}
.edits-container {
    padding-left: 30% !important;
}
