* {
    margin: 0;
    padding: 0;
}

.modal1 {
    display: flex;
    margin: 10% 20% !important;
    background-color: #554d84;
    box-shadow: #eee 5px 5px 30px 10px !important ;
    border-radius: 20px;
    height: 60vh !important;
    width: 120vh !important;
}
.modal1 a {
    background-color: #f5c518 !important;
    border-radius: 8px !important;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}
.modal1 img {
    height: 50vh;
    width: 100%;
    margin: 14.9% 0% 0% 2% !important;
}

p {
    padding: 0% !important;
    margin: 25% 2% !important;
    font-family: "Work Sans", sans-serif;
    line-height: 100% !important;
    font-size: 50px !important;
    font-weight: 800 !important;
    color: white !important;
    border: 0px rgb(116, 113, 113) solid;
}
.App {
    text-align: center;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* height: 588vh;
    overflow: hidden !important; */
}
.img img {
    border-radius: 8px;
}
.img {
    padding: 0.2% 0.1%;
    box-sizing: border-box;
    cursor: pointer;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.instructions {
    display: flex;
    /* height: 50vh; */
    margin: 0% 5% 0% 3%;
    width: 100%;
}
.card-panel {
    height: 30vh !important;
    width: 50vh;
    background: linear-gradient(180deg, #f08, #d0e);
}
.card-panel p {
    padding: 0% !important;
    margin: 2% 0% !important;
    font-size: 30px !important;
    font-family: "Work Sans", sans-serif;
    font-weight: 600 !important;
    color: white !important;
}
svg:not(:root) {
    overflow: hidden;
    font-size: 60px;
}
.white-text {
    color: #fff !important;
    margin-top: 2% !important;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
